
.html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(31, 32, 28);
}
.full_size {
    width: 100%;
    height: 100%;
    background-color: aqua;
.mainDiv {
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}

.nav_bar_top {
    position: relative;
    width: 100%;
    height: max-content;
    background-color: hsl(0, 0%, 7%);
    padding-left: 2%;
    padding-right: 2%;

}

.nav_bar_left {
    position: absolute;
    background-color: rgb(27, 122, 95);
}

.cus-nav-bar {
    color: chartreuse;
}
.cus-nav-bar:hover {
    color: pink;
}
/* div class="nav_bar_top" > 
    nav class="navbar navbar-expand-lg bg-body-tertiary" > 
        div class="container-fluid" > 
            a class="navbar-brand cus-nav-logo" */
.logo { 
    width: 150px;
}